nav {
  background-color: #007bff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a,
nav ul li button {
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

nav ul li button:hover,
nav ul li a:hover {
  text-decoration: underline;
}

.event-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.event-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-card h2 {
  margin-bottom: 10px;
}

.event-card p {
  margin: 5px 0;
}

.event-card a {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.event-card a:hover {
  text-decoration: underline;
}
